@font-face {
  font-family: DIN;
  src: url('./assets/fonts/din145alt.ttf') format('truetype');
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #444;
}
body, p {
  font-family: DIN sans-serif;
  font-size: 18px;
  color: #fff;
}
