#availableJedi p,  #availableSith p {
  color: #444;
}

.character {
  padding: 20px;

}
.characters {
display: -webkit-flex;
height: inherit;
width: inherit;
align-items: center;
}
.characterChoices {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.charactersContainer {
  background-color: rgba(324,615,292,0.6);
  border-radius: 100px;
}
.charactersContainer #availableJedi, #availableSith {
  display: none;
}
.characterSelection {
  text-align: center;
}
.characterSelection p {
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.enemyRow {
  margin-top: 3%;
}
.flexContainerColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  align-items: center;
}
.gameBoard {
  display: flex;
  display: -webkit-flex;
  height: 700px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gameBoard div {
  color: #fff;
}
.jumbotron {
  background-image: url('../images/spaceBackGround1.jpg');
}
.img-thumbnail {
  max-height: 100px;
}
.startIcons {
  /*position: relative;*/
}
.startIcons p {
  font-size: 2.5em;
  font-weight: bold;
  font-family: DIN sans-serif;
}
#arena span {
  /*font-size: */
}
#attack {
  background-color: #444;
  border-radius: 25px;
  text-align: center;
  padding: 10px;

}
#attack span {
  color: #fff;
  font-size: 18px;

}
#availableJedi {
  /*border-bottom: solid 1px #fff;*/

}
#coverImage {
  position: absolute;
}
#defenderArea p, a{
  font-size: 40px;
  /*margin: 2% 0 0 0;*/
}
/*position: relative;
    top: 370px;*/
#game {
  background-image: url('../images/gameBoard.jpg');
}
#gameContainer {
  text-align: center;
}
#gameButtons {
  text-align: center;
}
#jediStartLogo, #empireStartLogo {
  position: relative;
}
#jediStartLogo {
  top: -100px;
  left: -500px;
  opacity: 0;
}
#empireStartLogo {
  top: -100px;
  right: -500px;
  opacity: 0;
}
#enemies {
  display: inline-flex;
  position: relative;
  top: 10px;
  left: 100px;
}


#enemies div {
  background-color: #ff0000;
  height: 175px;
  /*margin: 20px;*/
  border: solid 2px #444;
}
/*#enemies img {
  border-color: #ff0000;
  border-width: 10px;
}*/
#enemies span {
  font-size: 40px;
  color: #fff;
}

#jedi, #sith {
  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    /*background-color: #444;*/
}
#statements {
  background-color: #444;
  /*height: 70px;*/
}

/*#userCharacter img{
  border-color: #008000;
  border-width: 10px;
}*/

#userCharacter .character {
  padding: 20px 10px 10px 10px;
  background-color: #008000
}
